@import 'tailwindcss';


td{
    width: 100px;
    border: 3px;
    text-align: center;
    border-color: var(--color-gray-800);
    background-color: var(--color-amber-50);
    border-style: solid;
}